*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{ /*quitarle la apariencia a los enlaces*/
    text-decoration: none;
    display: flex;
    gap:2%;
}



.encabezado{ /*Config del encabezado que contiene el logo y los enlaces*/
    background-color: white;
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-left: 7%;
    position: sticky; /*position para que el encabezado baje con la página*/
    top: 0;
    
}

.con2{ /*Contenedor de los enlaces*/
    width: 55%;
    display: flex;
    gap: 5%;
}

.logo,.hom{ /*Apariencia y disposicion del logo y la imagen del hombre con la maleta*/
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.imalogo{ /*Config unicamente del logo*/
    height: 12vh;
    object-fit: cover;
}

.bienve{ /*Config del contenedor del texto con nuestro eslogan y la imagen del hombre con la maleta*/
    background-color: darkblue;
    width: 100vw;
    height: 75vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imahom{ /*Config unicamente de la imagen del hombre con la maleta*/
    height: 75%;
    object-fit: cover; /*Linea para que la img cubra todo el div*/
}

.dena,.dein{ /*Apariencia de los contenedores de los titulos amarillos*/
    width: 100vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1%;
    margin-top: 3%;
}

.uno,.dos,.tre,.cua{ /*Configuraciones de los titulos*/
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotateZ(-4deg) ;
}

.uno{ /*Codigo para rotar un poco el titulo uno*/
    width: 25%;
    clip-path: polygon(4% 0, 100% 0, 96% 100%, 0 100%);
}

.dos,.tre,.cua{ /*Codigo para rotar un poco el titulo dos tres y cuatro*/
    clip-path: polygon(2% 0, 100% 0, 98% 100%, 0 100%);
    width: 20%;
}

.uno,.dos,.tre,.cua,.info2{ /*Texto de los titulos centrados por cualquier movimiento hacia abajo*/
    text-align: center;
}

.dos{ /*Separacion del segundo title con su bottom*/
    margin-bottom: 3%;
}

.imadena,.imadein{ /*Config de los contenedores de las imagenes*/
    width: 100vw;
    height: 55vh;
    display: flex;
    justify-content: center;
    gap:2%;
}

.cua{
    width: 25%;
}

.imadein,.dein{ /*Color darkblue a los necesarios*/
    background-color: darkblue;
}

.ina{ /*Config de las imagenes de los paquetes*/
    width: 18vw;
    height: 50vh;
}

.reque{ /*Contenedor de guias azules y amarillos*/
    width: 100vw;
    height: 90vh;
    color: #515151;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
    gap:1%;
}

.concaja{ /*contenedor de las tres etiquetas requisitos de ingreso, etc*/
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2%;
}

body{ /*quitar scroll horizontal*/
    overflow-x: hidden;
}

.regis,.comunic,.bioseg{ /*Etiquetas requisitos de ingreso, comunicaciones, etc*/
    width: 25%;
    height: 95%;
    text-align: center;
}

.regis,.bioseg,.plane{ /*Mas config de color*/
    background-color: darkblue;
    color: white;
}

.regis,.bioseg,.comunic,.ca1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.comunic{
    background-color: yellow;
}

.plane{ /*Contenedor de caja antes del footer*/
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20%;
}

.ca1{ /*Primera caja de plane*/
    width: 50%;
    height: 100%;
}

.ca2,.imaplane{ /*Segunda caja de plane y la img del plane*/
    width: 60vw;
    height: 100%;
}

.fp{ /*Texto de plane*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    display:flex;
    width:100vw;
    height:100px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    align-items:center;
    justify-content:center;
    margin-top: 2%;
}
.ina:hover{ /*Borde iluminado al hacer hover sobre las imagenes de paquetes*/
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.796);
    width: 22vw;
    height: 55vh;
    transform: translateY(-3vh);
}

.n1:hover,.n2:hover, .n3:hover, .n4:hover{ /*Borde iluminado azul al hacer hover sobre las imagenes de paquetes*/
    box-shadow: 0 0 40px darkblue;
}
.conscri,script{ /*Elimacion del script y el slider en responsive pc*/
    display: none;
}

@media only screen and (max-width: 768px) {
    .encabezado {
        flex-direction: column;
        align-items: center;
    }

    .inicio,.destna,.destin,.n2,.n3,.n4,.ni2,.ni3,.ni4,.imadena{ /*Eliminacion de partes que sobresaturarian el responsive cel*/
        display: none;
    }

    .uno,.dos,.tre,.cua{
        background-color: yellow;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: rotateZ(-4deg) ;
    }
    
    .uno{
        width: 75%;
        clip-path: polygon(4% 0, 100% 0, 96% 100%, 0 100%);
    }
    
    .dos,.tre,.cua{
        clip-path: polygon(2% 0, 100% 0, 98% 100%, 0 100%);
        width: 70%;
    }

    .cua{
        width: 90%;
    }


    .con2 {
        flex-direction: column;
        align-items: center;
    }

    .bienve {
        flex-direction: column;
        align-items: center;
    }

    .te {
        max-width: 100%;
        text-align: center;
    }

    .hom {
        margin-top: 20px;
    }

    .dena, .dein {
        text-align: center;
    }

    .ina{
        width: 80vw;
        height: 60vh;
    }

    .imadena, .imadein {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .reque .concaja{
        flex-direction: column;
        height: auto;
    }

    .reque{
        height: auto;
        margin-bottom: 2%;
    }

    .concaja{
        height: 180;
    }

    .regis, .comunic, .bioseg {
        flex-basis: auto;
        width: 80vw;
        height: 30vh;
        margin-top: 4%;
    }

    .info, .info2{
        text-align: center;
    }

    .plane {
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 4% 0;
    }

    .ca1, .ca2 {
        max-width: 100%;
    }

    .conscri{ /*Contenedor del  slider*/
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin-top: -20%;
      }
      .slider {
        width: 90vw;
        height: 60vh;
        position: relative;
        overflow: hidden;
      }

      .btn { /*Iconos para pasar a la siguiente img en el slider*/
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rebeccapurple;
        color: white;
        border-radius: 50%;
        position: absolute;
        top: calc(50% - 15px);
        cursor: pointer;
      }
      #right { /*icono derecha*/
        right: 0px;
      }
      #left { /*icono izquierda*/
        left: 0px;
      }
      .slider img { /*Las imagenes del slider*/
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: flex;
        align-items: center;
      }
      
      .ina:hover{ /*hover mejorado de las imagenes en incio*/
          width:90vw;
      }

    footer{ 
        margin-top: 10px;
    }


}
